<% content_for :js do %>
  <script type="text/javascript">
  </script>
<% end %>

<div id="react" data-graph='<%= @graph.id %>' data-permission=<%= @same_user %>>
</div>

<!-- <div id="window" data-graph='<%= @graph.id %>' data-permission=<%= @same_user %>>
Hola hola</div>
